html, body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  height: 100%
  margin: 0

.noselect
  -webkit-touch-callout: none
  -moz-user-select: none
  user-select: none

.tags-list
  max-width: 500px