html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0; }

.noselect {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none; }

#app {
  height: 100%;
  width: 100%; }
  #app .application {
    height: inherit;
    width: inherit; }

.page-over {
  height: inherit; }

.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.2); }

.page-container {
  min-width: 600px;
  max-width: 720px;
  width: 100%;
  height: auto;
  margin: 48px; }

.page-content {
  padding: 18px; }
  .page-content .page__label {
    font-size: 32px;
    padding: 18px; }
