html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0; }

.noselect {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none; }

#app {
  height: 100%;
  width: 100%; }
  #app .application {
    height: inherit;
    width: inherit; }

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  .page .page__container {
    background-color: rgba(0, 0, 0, 0.2);
    flex: 1 0 auto;
    overflow-y: scroll; }
  .page .page__head .page__add-btn {
    display: inline-block; }
  .page .page__label {
    font-size: 32px;
    display: inline-block;
    padding: 18px; }
  .page .page__fl-paper {
    min-width: 600px;
    max-width: 720px;
    width: 100%;
    height: auto;
    margin: 48px auto; }
  .page .page__content {
    padding: 18px; }

.notifs__list {
  overflow-y: scroll; }
